<div class="row">
    <div *ngIf="bill" class="col-6 offset-3 mt-5">
        <form #billForm="ngForm" (ngSubmit)="setBillToDatabase(bill)">
            <div class="form-group">
                <label for="orderID">Rendelés ID:</label>
                <input name="orderID" [(ngModel)]="bill.orderID" type="text" class="form-control" id="orderID" required
                    autofocus>
                <div [hidden]="billForm.controls['orderID']['valid'] || billForm.controls['orderID']['pristine']"
                    class="error-message">
                    Hiányzó rendelés azonosító!
                </div>
            </div>
            <div class="form-group">
                <label for="amount">Mennyiség:</label>
                <input name="amount" id="amount" [(ngModel)]="bill.amount" type="text" class="form-control" required>
                <div [hidden]="billForm.controls['amount']['valid'] || billForm.controls['amount']['pristine']"
                    class="error-message">
                    Hiányzó mennyiség!
                </div>
            </div>
            <div class="form-group">
                <label for="status">Státusz:</label>
                <select class="form-control" name="status" id="status" [(ngModel)]="bill.status" pattern="^(new|paid)$"
                    required>
                    <option value="new">New</option>
                    <option value="paid">Paid</option>
                </select>
                <div [hidden]="billForm.controls['status']['valid'] || billForm.controls['status']['pristine']"
                    class="error-message">
                    Hiányzó státusz!
                </div>
            </div>
            <button [disabled]="billForm.invalid || updating" type="submit" class="btn btn-primary btn-block">
                <i *ngIf="!updating" class="fa fa-floppy-o"></i>
                <i *ngIf="updating" class="fa fa-refresh"></i>
            </button>
        </form>
    </div>
</div>