<footer class="footer-container bg-dark text-white text-center text-md-left mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav class="nav my-4">
                    <a class="nav-link text-white" routerLink="">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link text-white" routerLink="customers">Customers</a>
                    <a class="nav-link text-white" routerLink="products">Products</a>
                    <a class="nav-link text-white" routerLink="orders">Orders</a>
                    <a class="nav-link text-white" routerLink="bills">Bills</a>
                </nav>
            </div>
        </div>
    </div>
</footer>