.navbar {
    background-color: #7c7f82; /* Adjust color as needed */
    color: #fff; /* Light text color */
    position: fixed; /* Fixed top positioning */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    z-index: 10; /* Ensure navbar stays on top of content */
  }
  
  .navbar-brand {
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    text-decoration: none; /* Remove underline from anchor tags */
  }
  
  .navbar-nav {
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: flex-end; /* Align links to the right */
  }
  
  .nav-item {
    margin-left: 10px; /* Spacing between links */
  }
  
  .nav-link {
    color: #fff; /* Light color for links */
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Smooth hover effect */
  }
  
  .nav-link:hover {
    color: #edc2d1; /* Blue hover color */
  }
  