<div class="container mt-5">
  <mat-card>
    <mat-toolbar color="primary" class="mb-3">
      <span>Product List</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChanged()"
          placeholder="Search products"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addProduct()">
        Add Product
      </button>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="slNo">
        <mat-header-cell *matHeaderCellDef>Sl. No.</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ getSlNo(i) }}
        </mat-cell>
      </ng-container>

      <ng-container
        [matColumnDef]="column.field"
        *ngFor="let column of displayedColumns"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          column.header
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element[column.field]
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="editProduct(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProduct(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Assign column definitions to header row -->
      <mat-header-row *matHeaderRowDef="matColumns"></mat-header-row>

      <!-- Assign column definitions to rows -->
      <mat-row *matRowDef="let row; columns: matColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="totalRecords"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
      #paginator
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card>
</div>
